* {
  /* box-sizing: border-box; */

  padding: 0;
  margin: 0;
}
.box-sizing {
  background-color: purple;
  height: 700px;
  width: 700px;
  margin: auto;
  margin-top: 60px;

  /***** Using flex *****/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /***** Using grid *****/
  /* display: grid;
  place-items: center; */

  /* Using position and transform */
  /* position: relative; */
}
.content-box {
  background-color: red;
  height: 200px;
  width: 200px;
  box-sizing: content-box;
  padding: 80px;

  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.border-box {
  background-color: green;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  padding: 80px;
}

/* Position with Z-index - BD Flag  */

.flag-green {
  height: 300px;
  width: 500px;
  background-color: green;
  position: relative;
}

.flag-rounded-red {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.flag-rounded-white {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
