/* Common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}

/* Animation */
@keyframes banner-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  5% {
    color: orange;
  }
  50% {
    opacity: 0.5;
    color: yellow;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes banner-player-animation {
  0% {
    opacity: 0.5;
    transform: translateX(-20px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Custom style */

nav {
  background-color: black;
  padding: 15px 0;
  font-weight: 600;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
nav ul li a:hover {
  color: red;
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px;

  margin: 50px auto;

  animation: banner-animation 0.7s ease-out forwards;
}
.banner-left {
  padding-left: 45px;
  flex: 1;
}

.banner h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
}
.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
  animation: banner-player-animation 1s ease-in infinite;
}

/* Upcoming matches */
.upcoming-matches {
  display: flex;
  padding: 50px 0;
  gap: 20px;
  animation: banner-animation 0.7s ease-out reverse;
}
.upcoming-matches-left {
  background-color: black;
  width: 25%;
  height: fit-content;

  border-radius: 15px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}
.upcoming-matches-right {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

.upcoming-matches-right .card {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
}
.upcoming-matches .card .card-body {
  padding: 20px;
}
.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.upcoming-matches-right .card .btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 17px;
  margin-top: 10px;
}
.upcoming-matches-right .card h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
}

.card-bottom {
  display: flex;
  gap: 20px;
  color: #161616cc;
}

/* Laptop/Tab */
@media (max-width: 992px) {
  /* Container */
  .container {
    margin: 20px 20px;
  }
  /* Banner */
  .banner h2 {
    font-size: 50px;
    line-height: 50px;
  }

  /* Upcoming matches */
  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn {
    border: 1px solid rgb(232, 232, 232);
  }

  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    margin: 10px;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner-left {
    margin-bottom: 50px;
    padding-left: 0;
    padding-top: 30px;
  }
  .banner .banner-left p {
    /* max-width: 100%; */
    margin: 15px auto;
  }
  .upcoming-matches-right {
    grid-template-columns: 1fr;
  }
}
